---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = 'About Me'
const description = 'Eneotu Joe is an artificial intelligence researcher'
---

<BaseLayout title={title} description={description}>
	<div class="container mx-auto my-5">
		<div class="grid grid-cols-1">
			<div class="card bg-neutral shadow-xl mx-3">
				<div class="card-body items-center text-center">
					<h1 class="font-black text-4xl">{ title }</h1>
					<div>
						<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque placeat reprehenderit sit. Sunt delectus dolore placeat suscipit tempore, numquam molestiae tenetur minima reprehenderit aspernatur? Rem repudiandae quos accusamus voluptatem impedit vel nesciunt. Vel dolor velit laudantium eius qui fuga distinctio illum aliquam expedita eos soluta, in inventore dolore nisi reiciendis quidem impedit delectus minima fugit quae perspiciatis atque sapiente recusandae? Quasi quod debitis eius laboriosam eaque accusamus sequi ab id eum. Voluptate obcaecati molestiae, id quas veritatis autem non explicabo similique suscipit delectus asperiores et recusandae nobis nisi, sunt exercitationem odio repellendus earum eos, assumenda deserunt rerum? Quasi voluptatum ullam, omnis dolor eius ex numquam soluta veritatis voluptates quas, culpa necessitatibus eos, aperiam a enim maiores iusto molestias explicabo qui fugiat quia at? Qui voluptatibus impedit recusandae neque ad quis ab eos quae deleniti doloribus, inventore hic tempora eius quisquam nulla fuga unde nihil quasi doloremque consequuntur libero vitae sapiente sed perspiciatis! Suscipit ex reiciendis odit cumque ut, quis deserunt corrupti debitis esse similique nostrum veniam a magnam reprehenderit possimus ipsam. Excepturi aperiam quidem qui autem quas, fugiat vero aliquam. Omnis laboriosam rerum voluptate asperiores quidem corrupti cum ex! Doloribus pariatur fuga tempore dicta soluta, quia reprehenderit. Repellendus, laboriosam praesentium.</p>
				  	</div>
				</div>
			</div>
		</div>

		<div class="grid grid-cols-1">
			<div class="card bg-neutral shadow-xl m-5">
				<div class="card-body items-center text-center">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque placeat reprehenderit sit. Sunt delectus dolore placeat suscipit tempore, numquam molestiae tenetur minima reprehenderit aspernatur? Rem repudiandae quos accusamus voluptatem impedit vel nesciunt. Vel dolor velit laudantium eius qui fuga distinctio illum aliquam expedita eos soluta, in inventore dolore nisi reiciendis quidem impedit delectus minima fugit quae perspiciatis atque sapiente recusandae? Quasi quod debitis eius laboriosam eaque accusamus sequi ab id eum. Voluptate obcaecati molestiae, id quas veritatis autem non explicabo similique suscipit delectus asperiores et recusandae nobis nisi, sunt exercitationem odio repellendus earum eos, assumenda deserunt rerum? Quasi voluptatum ullam, omnis dolor eius ex numquam soluta veritatis voluptates quas, culpa necessitatibus eos, aperiam a enim maiores iusto molestias explicabo qui fugiat quia at? Qui voluptatibus impedit recusandae neque ad quis ab eos quae deleniti doloribus, inventore hic tempora eius quisquam nulla fuga unde nihil quasi doloremque consequuntur libero vitae sapiente sed perspiciatis! Suscipit ex reiciendis odit cumque ut, quis deserunt corrupti debitis esse similique nostrum veniam a magnam reprehenderit possimus ipsam. Excepturi aperiam quidem qui autem quas, fugiat vero aliquam. Omnis laboriosam rerum voluptate asperiores quidem corrupti cum ex! Doloribus pariatur fuga tempore dicta soluta, quia reprehenderit. Repellendus, laboriosam praesentium.</p>
				</div>
			</div>
		</div>
		
	</div>
</BaseLayout>
