---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = 'Resume'
const description = ''
---

<BaseLayout title={title} description={description}>
	<div class="container mx-auto my-5">
		<div class="grid grid-cols-1">
			<div class="card bg-neutral shadow-xl mx-3">
				<div class="card-body items-center text-center">
					<h1 class="font-black text-4xl">{ title }</h1>
					<div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum fuga et totam praesentium quas libero temporibus quam ea dolorum voluptates, nobis quo. Atque eveniet laboriosam illum, qui necessitatibus dolor nobis velit quae, consequatur ut hic recusandae assumenda aperiam earum? Nisi sit, ea saepe itaque adipisci dolorem expedita rem quia quibusdam, odit, incidunt quae accusamus. Ducimus tempora, temporibus voluptatem, illo iure reiciendis recusandae quisquam consequatur expedita atque impedit! Impedit consequuntur vel inventore accusantium, id quia et ipsam explicabo, est laboriosam veritatis, iusto at atque? Qui praesentium modi voluptas obcaecati quod ex quam assumenda id. Suscipit ullam culpa tempore aut, vitae qui deleniti quos ratione molestiae consectetur nostrum asperiores dicta, maiores quo eligendi illum veniam nisi iure laudantium minima! Est officia repellendus blanditiis animi eos sint tempore saepe corrupti aut vitae culpa molestias neque, soluta sequi earum quibusdam quidem rerum? Natus, velit possimus amet corporis labore non blanditiis obcaecati sed vero assumenda, reiciendis culpa rem in, quia enim cupiditate ipsa necessitatibus pariatur recusandae atque rerum perferendis perspiciatis? Totam doloremque excepturi blanditiis sint ipsum, quas necessitatibus dignissimos tempora officia vero cupiditate cumque esse veritatis beatae dolore ipsa unde nemo quam soluta. Quisquam repellat esse ducimus dignissimos reiciendis, eaque facilis voluptate rem, dolorem vel numquam quo unde nobis ex nam odit quaerat ab, natus cupiditate porro omnis consequuntur facere? Enim vitae sint saepe animi eligendi non sequi numquam totam blanditiis, quos explicabo maxime voluptates officiis pariatur quia et sed inventore consequuntur adipisci placeat fugiat fugit! Architecto, quam iste, id totam consequatur unde officia nihil odio minima, temporibus sint voluptate ipsa corrupti a sequi? Adipisci consequuntur a assumenda porro ratione sed in debitis vel consectetur? Reprehenderit ratione, placeat consequatur ut alias sunt nostrum esse. Distinctio voluptatibus exercitationem molestias obcaecati magni quia modi. Quibusdam tempore repellat eaque nemo voluptatibus delectus corrupti odio nisi voluptates. Placeat velit ipsam cupiditate totam dolore deserunt, praesentium itaque perspiciatis molestiae voluptate possimus sit consequatur illum voluptatibus eveniet. Animi voluptatum vero dolorem amet eligendi voluptas, distinctio repellendus fugiat voluptates, fuga autem in suscipit non optio maxime nisi minima facere odit harum laudantium! Praesentium, animi temporibus aliquam minus, modi iure maiores sunt iusto consequatur quisquam earum enim quidem ex voluptas culpa saepe, illum accusamus fugit velit repellat nesciunt. Adipisci nam quis ipsa dignissimos reprehenderit eius cumque qui esse, ipsum animi fuga perspiciatis! Similique, laboriosam illum dicta culpa ea rerum facilis reprehenderit neque, quasi aspernatur fuga provident molestiae illo sed quo? Ut, totam magni. Tenetur, commodi. Ad tenetur aut impedit eligendi suscipit aperiam asperiores dolor exercitationem alias modi nam, ut qui provident sunt ipsam? Ut beatae exercitationem rerum? Aliquam quaerat tenetur cum non magnam rem repellat vitae hic eos similique beatae debitis dolorum deleniti exercitationem unde adipisci corporis eligendi sunt fugiat mollitia id iure, quae quos nam! Quia aut qui ad ut a reiciendis aspernatur assumenda recusandae quod sequi accusantium tenetur quos facere magnam culpa vitae, nam voluptatibus, accusamus iste autem. Magnam vero molestiae, quisquam ex voluptatibus eligendi dicta repudiandae exercitationem cumque harum? Maxime molestias suscipit non odit qui delectus rem praesentium ratione fuga?</p>
				  </div>
				</div>
			</div>
		</div>
		
	</div>
</BaseLayout>
